.hero__features {
  @include tablets {
    display: none;
  }
}
.features {
  display: flex;
}
.feature {
  display: flex;
  margin-right: 2.8125rem;
  &:last-child{
      margin-right: 0;
  }
}
.feature__text {
  font-size: 1rem;
  max-width: 4.5rem;
}
.feature__icon {
  width: 3.125rem;
  margin-right: 0.4375rem;
  fill: #aff7ff;
}
