.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo {
  display: block;
  font-size: 25px;
  line-height: 1;
  font-family: 'Time New Roman', sans-serif;
  width: 3.5rem;
}
.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include tablets {
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__item {
    margin-right: 1.6875rem;
    white-space: nowrap;
    margin-bottom: 0.625rem;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid #fff;
      transition: all .2s;
    }
    @include tablets {
      margin: 0;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  .menu__item:last-child {
    margin-right: 0;
  }
}
.menu {
  padding-top: 7px;
  margin: 0 15px;
  @include tablets {
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    right: -100vw;
    transition: all 0.5s;
    opacity: 0.9;
    background: #61c4d9;
  }
}
.menu--active {
  right: 0;
}
.phone {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  white-space: nowrap;
  &:hover {
    text-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
  }
}
.phone.header__phone {
  @include tablets {
    display: none;
  }
}
.phone__icon {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
  fill: #fff;
  flex-shrink: 0;
}
.phone__icon--green {
  fill: $green;
}
.burger {
  cursor: pointer;
  width: 24px;
  height: 20px;
  display: none;
  z-index: 30;
  background-color: transparent;
  @include tablets {
    display: block;
  }
  span {
    display: block;
    position: absolute;
    background: #fff;
    height: 4px;
    width: 24px;
    border-radius: 10px;
  }
  span:before,
  span:after {
    content: "";
    top: 0.625rem;
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 10px;
  }
  span:after {
    top: 1.25rem;
  }
}
.burger--active {
  position: fixed;
  right: 0.625rem;
  top: 1.875rem;
}
.burger--active span {
  background: transparent;
}
.burger--active span:after {
  top: 0;
  transform: rotate(-45deg);
}
.burger--active span:before {
  top: 0;
  transform: rotate(45deg);
}
