.btn {
  display: inline-block;
  font-size: 1.1875rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1.25rem 2.1875rem;
  border-radius: 100px;
  line-height: 1;
  transition: all 0.2s;
  @include tablets {
    font-size: 1.125rem;
  }
  &--theme--white {
    color: $green;
    background: #fff;
    &:hover {
      background: $green;
      color: #fff;
    }
  }
  &--theme--green {
    color: #fff;
    background: $green;
    &:hover {
      background: #fff;
      color: $green;
    }
  }
  &--hover--green:hover {
    background: #365a49;
    color: #fff;
  }
  &--theme--trans {
    text-transform: capitalize;
    color: #000;
    font-weight: 400;
    background: transparent;
    &:hover {
      color: $green;
    }
  }
}
