.features {
  display: flex; }

.feature {
  display: flex;
  margin-right: 45px; }
  .feature:last-child {
    margin-right: 0; }

.feature__text {
  font-size: 16px;
  max-width: 72px; }

.feature__icon {
  width: 50px;
  margin-right: 7px; }
