nav.fixed-menu {
  position: fixed;
  right: 3%;
  top: 20%;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
}