.reviews-section {
  position: relative;
  &:after {
    content: url(../img/berries_with_grey_leaf.png);
    position: absolute;
    bottom: -6.4375rem;
    left: 0;
    @include phones {
      bottom: -12.4375rem;
      left: -2.375rem;
    }
  }
  &:before {
    content: url(../img/strawberry.png);
    position: absolute;
    top: 3.125rem;
    right: 0;
    @include phones {
    top: 0;
    right: -3.75rem;
    }
  }
}
.section__title-review {
  margin-bottom: 32px;
  position: relative;
  z-index: 20;
  @include phones {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
  }
}
.reviews__display {
  display: flex;
  position: relative;
  margin-bottom: 1.25rem;
  min-height: 23.75rem;
  background: url(../img/decor-review.png) right top no-repeat;
  background-color: #f8faf9;
  padding: 3.125rem 2.8125rem 2.125rem;
  @include tablets {
    min-height: 33.125rem;
  }
  @include phones {
    padding: 1.25rem 0 0.625rem;
    min-height: 420px;
    margin-bottom: 0.625rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 5.625rem;
    height: 5.625rem;
    top: -3.4375rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 100%;
    background: #fff;
  }
}
.review {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3.125rem 0.9375rem 2.125rem;
  }
  @include phones {
    padding: 1.875rem 0 0.3125rem;
  }
}
.review.active {
  display: flex;
  position: static;
  opacity: 1;
}
.review__avatar {
  width: 16rem;
  height: 16.25rem;
  margin-right: 2%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .review__avatar--scale {
    object-position: -3.3125rem 2.0625rem;
    transform: scale(2);
  }
  @include tablets {
    width: 8.0625rem;
    height: 8.0625rem;
    margin-right: 0;
    margin-bottom: 1.75rem;
    .review__avatar--scale {
      transform: scale(1);
      object-position: -2rem 0rem;
    }
  }
  @include phones {
    width: 6.25rem;
    height: 6.25rem;
    margin-bottom: 0.75rem;
  }
}
.review__content {
  width: 51%;
  @include tablets {
    width: 100%;
  }
}
.review__title {
  color: #000;
  margin-bottom: 1.6875rem;
  @include tablets {
    width: 100%;
  }
  @include phones {
    margin-bottom: 0.9375rem;
    font-size: 1.5625rem;
  }
}
.review__text {
  margin-bottom: 1.875rem;
  @include phones {
    margin-bottom: 0.9375rem;
  }
}
.review__name {
  color: #000;
  font-weight: 600;
}
.reviews__switcher {
  display: flex;
  justify-content: center;
}
.review-switcher {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 6px solid transparent;
  overflow: hidden;
  &:hover {
    border: 6px solid $green;
  }
  @include phones {
    width: 3.4375rem;
    height: 3.4375rem;
  }
}
.review-switcher__link {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.review-switcher.active {
  border: 6px solid $green;
}
