.team-container {
 min-height: 41.875rem;
 @include phones {
   min-height: 35.5rem;
 }
}
.section__title-team {
    margin-bottom: 2.5rem;
    margin-top: 1.875rem;
}
.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &--version--desktop {
      @include tablets {
        display: none;
      }
      .team__content {
        position: absolute;
        top: 100%;
      }
    }
    &--version--mobile {
      display: none;
      @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
}
.team__item {
  position: relative;
  flex: 1;
  margin-right: 2%;
  text-align: center;
  max-width: 14.4444rem;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
.team__member {
  height: 18rem;
  background-color: rgb(241, 241, 241);
  margin-bottom: 1.25rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include phones {
    height: 11.5rem;
    width: 9.0625rem;
    margin: 0 auto 1.25rem;
  }
}
.team__name {
  display: inline-flex;
  color: #000;
  font-size: 1.3125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  position: relative;
  &--active .team__content {
      height: auto;
  }
}
.team__triangle {
  position: absolute;
  top: 45%;
  right: -1.25rem;
  border: 5px solid transparent;
  border-top: 5px solid $green;
  &.open {
        transform: rotateX(180deg);
        top: 25%;
      }
}
.team__content {
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
  width: 13.75rem;
}
.team__position {
  color: #000;
}
.team__about {
  font-weight: 300;
}
